/*
* en
**/
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-Bold.woff") format("woff");
}


@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
}


@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-Regular.woff") format("woff");
}


@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-Light.woff") format("woff");
}


@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-ExtraLight.woff") format("woff");
}


@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/pretendard/Pretendard-Thin.woff") format("woff");
}












/******************************** Noto , korea **************************/
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 100;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-style: normal;
  src:url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Black.otf") format("opentype");
}
